* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(244, 244, 244);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategrey;
}

#logo {
    margin: 1rem;
    height: 170px;
    width: 170px;
}

h1 {
    margin: 0;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    color: rgb(244, 244, 244);
    text-shadow: 1px 1px 3px black;
    border-bottom: solid 2px rgb(244, 244, 244);
}

#text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-wrapper p {
    margin: 9px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(244, 244, 244);
    text-shadow: 1px 1px 3px black;
}

#cart-btn {
    align-self: flex-start;
    margin: 1rem;
    color: rgb(50, 50, 50);
    background-color: rgb(244, 244, 244);
    border: solid 2px rgb(50, 50, 50);
    padding: 7px;
    border-radius: 100px;
}

#cart-btn:hover {
    background-color: rgb(50, 50, 50);
    color: rgb(244, 244, 244);
    border: solid 2px rgb(244, 244, 244);
}

#counter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 50px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100px;
}

#counter {
    margin: 0;
    font-size: 9px;
    font-family: sans-serif;
    color: white;
}

#cart-icon {
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ARTICLES SHARED PROPS */
article {
    display: flex;
    height: 30vh;
    width: 80%;
    margin: 1rem;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
}


/* INDEX ARTICLES */
.article-index {
    border: solid 3px darkslategrey;
}

.article-index .img-wrapper {
    width: 50%;
    object-fit: cover;
}

.article-index .text-section h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
}

.article-index .text-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    background-color: slategrey;
    color: rgb(244, 244, 244);
}

.article-index .text-section p {
    margin: 10px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

ul {
    margin: 0;
}

.buy-btn {
    position: relative;
    align-self: flex-end;
    bottom: 10px;
}


/* CART ARTICLES */
.article-cart {
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px darkslategrey;
}

.article-cart img {
    border-radius: 1000px;
    object-fit: cover;
}

.article-cart .img-wrapper {
    width: 150px;
    min-width: 150;
    height: 150px;
}

.remove-btn {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    background-color: darkslategrey;
}

.cancel-cross-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cancel-cross-wrapper div {
    /* position: absolute; */
    background-color: rgb(244, 244, 244);
    height: 2px;
    width: 90%;
}

.remove-btn div:first-child {
    transform: rotate(45deg);
}

.remove-btn div:last-child {
    transform: rotate(90deg);
}

/* FOOTER */
footer {
    height: 30%;
    background-color: chocolate;
}

.wrapper-icons i {
    font-size: 2rem;
    margin: .2rem;
    color: #88d8b0;
}

/* OTHER */
.hidden {
    opacity: 0%;
}
