* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(244, 244, 244);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 202px;
    background-color: darkslategrey;
}

#logo {
    margin: 1rem;
    margin-right: auto;
    height: 170px;
    width: 170px;
}

h1 {
    margin: 0;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    color: rgb(244, 244, 244);
    text-shadow: 1px 1px 3px black;
    border-bottom: solid 2px rgb(244, 244, 244);
}

#text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-wrapper p {
    margin: 9px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(244, 244, 244);
    text-shadow: 1px 1px 3px black;
}

#cart-btn {
    align-self: flex-start;
    margin: 1rem;
    margin-left: auto;
    color: #303841;
    background-color: rgb(244, 244, 244);
    border: solid 2px #303841;
    padding: 7px;
    border-radius: 100px;
}

#cart-btn:hover {
    background-color: #303841;
    color: rgb(244, 244, 244);
    border: solid 2px rgb(244, 244, 244);
}

.cart-btn-wrapper {
    display: flex;
    height: 170px;
    width: 170px;
    margin: 1rem;
    margin-left: auto;
}

#counter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 50px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100px;
}

#counter {
    margin: 0;
    font-size: 9px;
    font-family: sans-serif;
    color: white;
}

#cart-icon {
    font-size: 2rem;
}

#chat-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
}

#chat-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
    
    /* Alters button size */
    height: 3rem;
    width: 3rem;
}

#chat-btn-wrapper p {
    position: absolute;
    top: -57px;
    right: 35px;
    z-index: 1;
    padding: .5rem;
    border: 2px solid rgb(244, 244, 244);
    border-radius: 5px;
    background-color: chocolate;
    color: rgb(244, 244, 244);
    width: 10rem;
    text-align: center;
}

#remove-p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -3px;
    top: -49px;
    z-index: 2;
    width: 50%;
    height: 50%;
}

#remove-p div {
    width: 14px;
}

#chat-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: darkslategray;
    outline: none;

    /* Alters chat-bubbles size */
    font-size: 1.7rem;
}

#chat-bubbles {
    font-size: 100%;
    color: rgb(244, 244, 244);
}

.chat-window-wrapper {
    margin: 2rem;
    height: 20rem;
    width: 16rem;
    transform: scale(0); /* for .expand-effect to work */
    transform-origin: bottom right;
    border: 1px solid black;
    border-radius: 5px;
    background-color:  rgb(244, 244, 244);
}

#username-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#submit-btn {
    width: 50%;
    margin: 1rem;
    font-size: 1rem;
    color: rgb(244, 244, 244);
    background-color: chocolate;
    border-radius: 10px;
    outline: none;
}

#username-input {
    width: 70%;
    margin: 1rem;
    padding-bottom: 5px;
    border: 0;
    border-bottom: 2px solid darkslategray;
    background-color:  rgb(244, 244, 244);
    font-size: 1rem;
    color: chocolate;
    text-align: center;
    outline: none;
}

#chat-window {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

#chat-input-wrapper {
    display: flex;
    height: 10%;
    width: 100%;
}

#chat-input {
    width: 70%;
    height: 100%; 
    outline: none;
}

#send-btn {
    height: 100%;
    width: 30%;
    padding: 1px;
    border: 0;
    background-color: chocolate;
    color: rgb(244, 244, 244);
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

#empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: lightgray;
}

#empty-cart h2 {
    font-size: 2rem;
    margin: 1rem;
}

#empty-cart p {
    margin: 0;
    color: rgb(185, 185, 185);
}

#empty-cart a {
    text-decoration: none;
    color: chocolate;
}



/* ARTICLES SHARED PROPS */
article {
    display: flex;
    width: 80%;
    margin: 1rem;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
}


/* INDEX ARTICLES */
.article-index {
    min-height: 30vh;
    border: solid 3px darkslategrey;
}

.article-index .img-wrapper {
    width: 50%;
    object-fit: cover;
}

.article-index .text-section h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
}

.article-index .text-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    background-color: slategrey;
    color: rgb(244, 244, 244);
}

.article-index .text-section p {
    margin: 10px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

ul {
    margin: 0;
}

.add-btn {
    position: relative;
    align-self: flex-end;
    padding: 0.5rem;
    bottom: 10px;
    font-weight: bold;
    color: rgb(50, 50, 50);
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    outline: none;
    -webkit-user-select: none;
    

}


/* CART ARTICLES */
.article-cart {
    height: 120px;
    margin: 0;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}

.article-cart:last-child {
    border-bottom: none;
}

.article-cart p {
    font-family: serif;
}

.article-cart img {
    border-radius: 1000px;
    object-fit: cover;
}

.article-cart .img-wrapper {
    width: 70px;
    height: 70px;
}

.remove-btn {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    background-color: darkslategrey;
}

.remove-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.remove-wrapper div {
    position: absolute;
    background-color: rgb(244, 244, 244);
    height: 2px;
    width: 30px;
}

.remove-wrapper div:first-child {
    transform: rotate(45deg);
}

.remove-wrapper div:last-child {
    transform: rotate(-45deg);
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    background-color: chocolate;
    border-top: solid 4px darkslategray;
    border-bottom: solid 4px darkslategray;
}

footer section:first-child {
    display: flex;
    flex-direction: column;
    border-left: solid 2px darkslategray;
}

footer section:first-child a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(244, 244, 244);
    text-decoration: none;
    margin-left: 5px;
}

footer section:first-child a:hover {
    text-decoration: underline;
} 

footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(244, 244, 244);
    text-align: center;
    margin: 0 0 5px 0;
    padding: 5px;
    border-bottom: solid 2px darkslategray;
}


.wrapper-icons i {
    font-size: 2rem;
    margin: .2rem;
    color: rgb(244, 244, 244);
}

/* EFFECTS */
.hidden {
    visibility: hidden;
}

.no-opacity {
    opacity: 0%;
}

.expand {
    transform: scale(1);
    transition: .2s all ease-in-out; 
}

.remove-effect {
    height: 0;
    opacity: 0;
    transition: 0.4s height ease-out; 
}

.remove-btn:hover, #chat-btn:hover {
    background-color: rgb(244, 244, 244);
    border: solid 2px darkslategray;
}

.remove-btn:hover div div {
    background-color: darkslategray;
}

#chat-btn:hover #chat-bubbles {
    color: darkslategray;
}

.remove-btn:hover .remove-wrapper {
    margin: -2px;
}
 