* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(244, 244, 244);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 202px;
    background-color: darkslategrey;
}

#logo {
    margin: 1rem;
    margin-right: auto;
    height: 170px;
    width: 170px;
}

h1 {
    margin: 0;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    color: rgb(244, 244, 244);
    text-shadow: 1px 1px 3px black;
    border-bottom: solid 2px rgb(244, 244, 244);
}

#text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-wrapper p {
    margin: 9px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(244, 244, 244);
    text-shadow: 1px 1px 3px black;
}

#cart-btn {
    align-self: flex-start;
    margin: 1rem;
    margin-left: auto;
    color: #303841;
    background-color: rgb(244, 244, 244);
    border: solid 2px #303841;
    padding: 7px;
    border-radius: 100px;
}

#cart-btn:hover {
    background-color: #303841;
    color: rgb(244, 244, 244);
    border: solid 2px rgb(244, 244, 244);
}

.cart-btn-wrapper {
    display: flex;
    height: 170px;
    width: 170px;
    margin: 1rem;
    margin-left: auto;
}

#counter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 50px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100px;
}

#counter {
    margin: 0;
    font-size: 9px;
    font-family: sans-serif;
    color: white;
}

#cart-icon {
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: lightgray;
}

#empty-cart h2 {
    font-size: 2rem;
    margin: 1rem;
}

#empty-cart p {
    margin: 0;
    color: rgb(185, 185, 185);
}

#empty-cart a {
    text-decoration: none;
    color: chocolate;
}



/* ARTICLES SHARED PROPS */
article {
    display: flex;
    height: 30vh;
    width: 80%;
    margin: 1rem;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
}


/* INDEX ARTICLES */
.article-index {
    border: solid 3px darkslategrey;
}

.article-index .img-wrapper {
    width: 50%;
    object-fit: cover;
}

.article-index .text-section h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
}

.article-index .text-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    background-color: slategrey;
    color: rgb(244, 244, 244);
}

.article-index .text-section p {
    margin: 10px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

ul {
    margin: 0;
}

.buy-btn {
    position: relative;
    align-self: flex-end;
    bottom: 10px;
}


/* CART ARTICLES */
.article-cart {
    height: 190px;
    margin: 0;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}

.article-cart:last-child {
    border-bottom: none;
}

.article-cart p {
    font-family: serif;
}

.article-cart img {
    border-radius: 1000px;
    object-fit: cover;
}

.article-cart .img-wrapper {
    width: 150px;
    min-width: 150;
    height: 150px;
}

.remove-btn {
    width: 40px;
    height: 40px;
    border-radius: 1000px;
    background-color: darkslategrey;
}

.remove-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.remove-wrapper div {
    position: absolute;
    background-color: rgb(244, 244, 244);
    height: 2px;
    width: 30px;
}

.remove-wrapper div:first-child {
    transform: rotate(45deg);
}

.remove-wrapper div:last-child {
    transform: rotate(-45deg);
}

/* FOOTER */
footer {
    height: 30%;
    background-color: chocolate;
}

.wrapper-icons i {
    font-size: 2rem;
    margin: .2rem;
    color: #88d8b0;
}

/* EFFECTS */
.hidden {
    opacity: 0%;
    transition: opacity 0.3s linear;
}

.remove-effect {
    height: 0;
    opacity: 0;
    transition: 0.4s all ease-out; 
}

.remove-btn:hover {
    background-color: rgb(244, 244, 244);
    border: solid 2px darkslategray;
}

.remove-btn:hover div div {
    background-color: darkslategray;
}

.remove-btn:hover .remove-wrapper {
    margin: -2px;
}
